ul {
  display: flex;
}

li {
  padding: 1rem;
}

/* only for visual purpose*/
nav {
  background: #8f3b76;
}
ul {
  list-style: none;
}
li:hover {
  background: #cb80b5;
  transition: all ease 0.3s;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}
